/* RESET */

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family: Arial, Helvetica, sans-serif;

}



/* FULL SCREEN */

html, body, #root{

height:100%;

width:100%;

}



/* MAIN HOME */

.home{

height:100vh;

width:100%;

background:#f1f3f5;

display:flex;

justify-content:center;

align-items:center;

}



/* CENTER CONTENT */

.content{

text-align:center;

color:black;

}



/* TITLE */

.title{

font-size:50px;

margin-bottom:10px;

color:black;

}



/* SUBTITLE */

.subtitle{

margin-bottom:30px;

font-size:18px;

color:black;

}



/* BOX ROW */

.box-row{

display:flex;

gap:20px;

justify-content:center;

margin-bottom:20px;

}



/* BOX */

.box{

background:white;

padding:25px;

width:300px;

border-radius:10px;

box-shadow:0 0 5px rgba(0,0,0,0.1);

color:black;

}



/* SHOP BUTTON */

.shop-btn{

background:black;

color:white;

padding:12px 30px;

border:none;

border-radius:5px;

cursor:pointer;

font-size:16px;

}


.shop-btn:hover{

background:#333;

}



/* MOBILE */

@media(max-width:700px){

.box-row{

flex-direction:column;

align-items:center;

}

}